/* customize date_input field */
div[data-baseweb="input"] {
            width: 300px;
        }

#MainMenu {
    display: none;
}

.cust_footer {
            text-align: center;
            /*padding: 10px;*/
            /*background-color: #f1f1f1;*/
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 100px;
        }


.cust_footer h6 {
    color: #FF6A3D;
    font-style: italic;
}

