/* customize date_input field */
div[data-baseweb="input"] {
            width: 300px;
        }

#MainMenu {
    display: none;
}

.cust_footer1 {
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 200px;
        }

.cust_footer2 {
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 200px;
        }

.cust_footer3 {
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 200px;
        }

.cust_footer1 p {
    color: #FF6A3D;
}

.cust_footer2 p {
    color: #FF6A3D;
}

.cust_footer3 p {
    color: #FF6A3D;
}

